<div class="user-profile">
    <div class="row">
        <div class="col col-lg-4 profile-sidebar">
            <div class="user-avatar">
                <img ng-if="!user.avatar" src="http://placehold.it/200x200" />
                <img ng-if="user.avatar" ng-src="{{ user.avatar }}" />
                <!--img src="http://placehold.it/200x200" /-->
                <!--div class="b-edit-avatar">
                <span class="list-group-item btn btn-default">
                    <a class="btn btn-link" href="">{{ 'Сменить аватарку'|translate }}</a>
                    <input class="btn-file-uploader" ng-file-select type="file" />
                </span>
                </div-->
            </div>

            <div ng-include="'/views/user/profile/send-message.html'"></div>
            <div ng-include="'/views/user/profile/modal-gifts.html'"></div>
            <div ng-include="'/views/user/profile/modal-pay.html'"></div>

            <div class="menu">
                <ul class="nav nav-tabs nav-stacked">
                    <li ng-if="isOwnProfile" >
                        <a href="/user/{{ user.id }}/view" data-ng-class="{'active': $routeSegment.startsWith('profile.view')}" class="list-group-item">
                            {{ 'Профиль'|translate }}
                        </a>
                    </li>
                    <li ng-if="isOwnProfile">
                        <a href="/user/{{ user.id }}/edit" data-ng-class="{'active': $routeSegment.startsWith('profile.edit')}" class="list-group-item">
                            {{ 'Редактировать профиль'|translate }}
                        </a>
                    </li>
                    <li ng-if="isOwnProfile">
                        <a href="/user/{{ user.id }}/password" data-ng-class="{'active': $routeSegment.startsWith('profile.password')}" class="list-group-item">
                            {{ 'Сменить пароль'|translate }}
                        </a>
                    </li>
                    <li ng-if="isOwnProfile">
                        <a href="/user/{{ user.id }}/messages" data-ng-class="{'active': $routeSegment.startsWith('profile.messages')}" class="list-group-item">
                            {{ 'Сообщения'|translate }}
                            <span class="pull-right">
                                <i class="icon-envelope"></i> <span class="label label-default">11</span>
                            </span>
                        </a>
                    </li>
                    <li ng-if="isOwnProfile">
                        <a href="/user/{{ user.id }}/gifts" data-ng-class="{'active': $routeSegment.startsWith('profile.gifts')}" class="list-group-item">
                            {{ 'Мои подарки'|translate }}
                             <span class="pull-right">
                                <i class="icon-gift"></i> <span class="label label-default">11</span>
                            </span>
                        </a>
                    </li>
                    <li ng-if="!isOwnProfile">
                        <a data-toggle="modal" href="" ng-click="message.to_id = user.id; sendMessage()" class="b-send-message">
                            {{ 'Написать сообщение'|translate }}
                        </a>
                    </li>
                    <li ng-if="!isOwnProfile">
                        <a data-toggle="modal" href="" ng-click="sendGift()">{{ 'Подарить подарок:'|translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col col-lg-8 b-profile-content">
            <div class="info profile">
                <div class="slide-reveal" app-view-segment="1">
                </div>
            </div>
        </div>
    </div>
</div>