<h1>{{'Восстановление пароля'|translate }}</h1>

<div>
    <div class="alert alert-success" ng-if="user_activated">
        {{'Пользователь был активирован, можете зайти под Вашим логином/паролем'|translate }}
    </div>

    <form bz-loading-container="loading" class="registration form-horizontal" name="login" ng-submit="resendPassword(user)" novalidate>
        <div ng-if="error" class="alert alert-error">
            <a data-dismiss="alert" class="close">×</a>
            <div ng-bind-html-unsafe="error"></div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': errors.email }">
            <label for="email" class="control-label col-lg-3">{{'E-mail'|translate }}<span class="star">*</span></label>
            <div class="controls col-lg-9">
                <input id="email" ng-model="user.email" type="text" name="email" required class="form-control"/>
                <span ng-if="errors.email.required" class="help-block"><small>{{'Заполните поле'|translate }}</small></span>
                <span ng-if="errors.email.exist_user" class="help-block"><small>{{'Пользователя с таким логином и паролем не существует'|translate }}</small></span>
            </div>
        </div>
        <div class="form-group">
            <div class="controls col-lg-offset-3 col-lg-9">
                <button type="submit" class="btn btn-primary"><i class="icon-envelope-alt icon-white"></i> {{'Отправить'|translate }}</button>
            </div>
        </div>
    </form>
</div>