<div class="registration" ng-init="banner.categoryId = 'registration'">
    <h1>{{'Регистрация'|translate }}</h1>

    <div ng-if="formError">
        {{formError}}
    </div>

    <div ng-hide="user.gender" class="gender-choose">
        <div class="title">{{'Зарегистрироваться как:'|translate }}</div>
        <label class="radio people">
            <input type="radio" ng-model="user.gender" value="male"> {{'Мужчина'|translate }}
        </label>
        <label class="radio people women">
            <input type="radio" ng-model="user.gender" value="female"> {{'Женщина'|translate }}
        </label>
    </div>

    <form ng-show="user.gender" class="registration form-horizontal"  name="register" ng-submit="saveUser(user)" novalidate>
        <div class="form-group" ng-class="{ 'has-error': (register.email.$dirty && register.email.$invalid) || errors.email}">
            <label class="control-label col-lg-3">{{'E-mail'|translate }}<span class="star">*</span></label>
            <div class="controls col-lg-9">
                <input class="form-control" type="email" ng-model="user.email" ng-unique="checkEmail($value)" name="email" required>
                <div class="ng-cloak help-block" ng-if="register.email.$dirty && register.email.$error.email">
                    {{'Неверно заполнено поле Е-mail'|translate }}
                </div>
                <div class="ng-cloak help-block" ng-if="(register.email.$dirty && register.email.$error.unique) || errors.email.uniqueEmail">
                    {{'Пользователь с таким email уже зарегистрирован'|translate }}
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (register.password.$dirty &&  register.password.$invalid) || errors.password }">
            <label class="control-label col-lg-3" for="sign-up-password">{{'Пароль'|translate }}<span class="star">*</span></label>
            <div class="controls col-lg-9">
                <input class="form-control" id="sign-up-password" name="password" type="password" ng-model="user.password" required ng-minlength="6" ng-maxlength="50"/>
                <div class="ng-cloak help-block" ng-if="(register.password.$dirty && register.password.$invalid) || errors.password">
                    <span ng-if="register.password.$error.minlength">{{'Пароль должен быть больше 6 символов'|translate }}</span>
                    <span ng-if="register.password.$error.maxlength">{{'Пароль должен быть меньше 50 символов'|translate }}</span>
                    <span ng-if="errors.password.equal">{{'Пароли не совпадают'|translate }}</span>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': register.spassword.$dirty && register.spassword.$invalid }">
            <label class="control-label col-lg-3">{{'Повторите пароль'|translate }}<span class="star">*</span></label>
            <div class="controls col-lg-9">
                <input class="form-control" name="spassword" type="password" required bv-compare="user.password" ng-model="user.spassword"/>
                <div class="ng-cloak help-block" ng-show="register.spassword.$dirty && register.spassword.$invalid">
                    <span ng-show="register.spassword.$error.bvCompare">{{'Пароли не совпадают'|translate }}</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">{{'Имя'|translate }}</label>
            <div class="controls col-lg-9">
                <input class="form-control"  type="text" ng-model="user.firstname">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">{{'Фамилия'|translate }}</label>
            <div class="controls col-lg-9">
                <input class="form-control" type="text" ng-model="user.secondname">
            </div>
        </div>
        <div ng-include="'/views/user/anketa.html'"></div>
        <div class="form-group">
            <div class="controls col-lg-9 col-lg-offset-3">
                <label class="checkbox">
                    <input id="tandc" ng-model="user.agree" type="checkbox" name="agree" required class="check_boxes"/>
                    {{'Я согласен с'|translate }} <a href="/post-29" target="_blank" translate>условиями портала</a>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="controls col-lg-9 col-lg-offset-3">
                <button ng-disabled="register.$invalid || loading" ng-click="registerUser(user)" class="btn btn-primary">
                    <span ng-hide="loading">{{'Регистрация'|translate }}</span>
                    <span ng-show="loading">{{'Регистрация'|translate }}...</span>
                </button>
            </div>
        </div>
    </form>
</div>