<div ng-controller="BannerCtrl" ng-switch="banner.categoryId" ng-class="'category-' + banner.categoryId" class="animation-switch-slide banners">

    <div class="banner" ng-switch-when="9">
        <span class="title">Фишка</span>
        <span class="back">Фишка</span>
    </div>
    <div class="banner" ng-switch-when="10">
        <span class="title">Мемы</span>
        <span class="back">Мемы</span>
    </div>
    <div class="banner" ng-switch-when="11">
        <span class="title">Город</span>
        <span class="back">Город</span>
    </div>
    <div class="banner" ng-switch-when="13">
        <span class="title">Фейлы</span>
        <span class="back">Фейлы</span>
    </div>
    <div class="banner" ng-switch-when="14">
        <span class="title">Идеи</span>
        <span class="back">Идеи</span>
    </div>
    <div class="banner" ng-switch-when="15">
        <span class="title">Бездна</span>
        <span class="back">Бездна</span>
    </div>
    <div class="banner" ng-switch-default>

    </div>

</div>