<h1>{{'Мои подарки'|translate }}</h1>

<div bz-loading-container="loading">

    <div ng-repeat="gift in gifts" class="b-gifts user-gifts">
        <div class="row">
            <div class="col col-lg-3">
                <a class="gift-cell" href="" ng-click="prepareGift(gift)">
                    <img class="gift-img" ng-src="/assets/img/gifts/542.jpg"/>
                    <div ng-if="gift.status == '0'" class="label label-default">в ожидании</div>
                    <div ng-if="gift.status == '1'" class="label label-primary">обработано</div>
                    <div ng-if="gift.status == '2'" class="label label-success">доставлено</div>
                </a>
            </div>
            <div class="col col-lg-9">
                <div>
                    <p class="b-title">{{gift.title|language}}</p>
                    <article>
                        {{gift.body|language}}
                    </article>
                    <p class="gift-from">
                        {{'Подарок для'|translate }}
                        <a ng-href="/user/{{gift.to.id}}/profile"  class="btn-link">
                            {{gift.to.fullname}}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>