<h1>{{'Мои подарки'|translate }}</h1>

<div bz-loading-container="loading">
    <div class="user-gifts">
        <div class="one-gifts">
           <img src="http://placehold.it/100x100" />
            <div class="b-gifts-from">
                <a href="" class="btn btn-link">
                    <img class="b-avatar" src="/assets/img/gifts/542.jpg" />
                    User
                </a>
                <p>With love</p>
            </div>
        </div>
    </div>
</div>