<!-- Modal -->
<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myGiftsModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'Пополнение счета'|translate }}</h4>
            </div>
            <div class="modal-body">
                <div bz-loading-container="paymentLoading">
                    {{'Введите сумму для пополнения:'|translate }}

                    <form ng-submit="doPay(needToPay.diff)">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="needToPay.diff" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="{{'Пополнить'|translate }}" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
