<!-- Modal -->
<div class="modal fade" data-ng-controller="bcUsers.Controllers.Profile.ModalGifts" id="giftsModal" tabindex="-1" role="dialog" aria-labelledby="myGiftsModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'Выберите подарок для '|translate }}{{ user.fullname }}</h4>
            </div>
            <div class="modal-body" ng-init="currentTab = 'tab1'">
                <div class="tab-content" bz-loading-container="loading">
                    <!--div class="tab-pane active" data-ng-class="{'active': currentTab == 'tab1'}" id="friends"-->
                        <div class="b-gifts" data-ng-repeat="gift in gifts">
                            <div class="row">
                                <div class="col col-lg-3">
                                    <a class="gift-cell" href="" ng-click="prepareGift(gift)">
                                        <img class="gift-img" ng-src="{{ gift.thumbnails.preview }}"/>
                                        <div class="gift-price badge"><span>{{ gift.price }}</span></div>
                                    </a>
                                </div>
                                <div class="col col-lg-9">
                                    <div ng-if="gift.price <= $user.data.account">
                                        <p class="b-title">{{gift.title|language}}</p>
                                        <article>
                                            {{gift.body|language}}
                                        </article>
                                        <p class="text-right">
                                            <a href="" ng-click="sendGift(gift)" class="btn btn-primary">
                                                {{'Подарить'|translate }}
                                            </a>
                                        </p>
                                    </div>
                                    <div ng-if="gift.price > $user.data.account" bz-loading-container="paymentLoading">
                                        {{'У Вас недостаточно средств на счету. Пополните, пожалуйста, счет.'|translate }}
                                        <form ng-submit="doPay(needToPay.diff)">
                                            <div class="form-group">
                                                <input type="text" class="form-control" ng-model="needToPay.diff" />
                                            </div>
                                            <div class="text-right form-group">
                                                <input type="submit" value="{{'Пополнить'|translate }}" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!--/div-->
                    <!--div class="tab-pane" data-ng-class="{'active': currentTab == 'tab2'}" id="romantic"></div>
                    <div class="tab-pane" data-ng-class="{'active': currentTab == 'tab3'}" id="love"></div-->
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
