<!-- Modal -->
<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myGiftsModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'Пополнение счета'|translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    {{'Вы собираетесь пополнить Ваш счёт'|translate }}.
                    {{'Ваш текущий баланс:'|translate }} 10 <span translate>грн</span>.
                </div>
                Pay
            </div>
        </div>
    </div>
</div>
