<div class="main_info">

    <div class="pull-right" ng-if="$user.has('admin.access')">
        <a href="" ng-if="!user.is_active" ng-click="user.is_active = !user.is_active; user.$save()" class="btn btn-success">Разрешить и опубликовать анкету</a>
        <a href="" ng-if="user.is_active" ng-click="user.is_active = !user.is_active; user.$save()" class="btn btn-danger">Заблокировать и убрать анкету</a>
    </div>
    <h1>
        {{ user.fullname }}
    </h1>

    <div>
        <div bz-img="user.images"></div>
    </div>

    <ul class="list-unstyled">
        <li class="row" ng-show="user.firstname">
            <span class="col-lg-4">{{'Имя'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.firstname }}</span>
        </li>
        <li class="row" ng-show="user.secondname">
            <span class="col-lg-4">{{'Фамилия'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.secondname }}</span>
        </li>
        <li class="row" ng-show="user.birth_date">
            <span class="col-lg-4">{{'Дата рождения'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.birth_date }}</span>
        </li>
        <li class="divider"></li>
        <li class="row" ng-show="user.profile.height">
            <span class="col-lg-4">{{'Рост'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.height }}</span>
        </li>
        <li class="row" ng-show="user.profile.weight">
            <span class="col-lg-4">{{'Вес'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.weight }}</span>
        </li>
        <li class="row" ng-show="user.profile.hair">
            <span class="col-lg-4">{{'Цвет волос'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.hair }}</span>
        </li>
        <li class="row" ng-show="user.profile.eyes">
            <span class="col-lg-4">{{'Цвет глаз'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.eyes }}</span>
        </li>
        <li class="row" ng-show="user.profile.bodytype">
            <span class="col-lg-4">{{'Тип телосложения'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.bodytype }}</span>
        </li>
        <li class="divider"></li>
        <li class="row" ng-show="user.profile.education">
            <span class="col-lg-4">{{'Образование'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.education }}</span>
        </li>
        <li class="row" ng-show="user.profile.institution">
            <span class="col-lg-4">{{'Название учебного заведения'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.institution }}</span>
        </li>
        <li class="row" ng-show="user.profile.educationyear">
            <span class="col-lg-4">{{'Год окончания учебного заведения'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.educationyear }}</span>
        </li>
        <li class="row" ng-show="user.profile.profession">
            <span class="col-lg-4">{{'Професия'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.profession }}</span>
        </li>
        <li class="row" ng-show="user.profile.professionnow">
            <span class="col-lg-4">{{'Кем и где вы работаете в настоящее время'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.professionnow }}</span>
        </li>
        <li class="divider"></li>
        <li class="row" ng-show="user.profile.maritalstatus">
            <span class="col-lg-4">{{'Семейное положение'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.maritalstatus }}</span>
        </li>
        <li class="row" ng-if="user.profile.have_children == 'no'">
            <span class="col-lg-4">{{'Есть ли у вас дети'|translate }}?</span>
            <span class="col-lg-8">{{ 'Нет'|translate }}</span>
        </li>
        <li class="row" ng-if="user.profile.have_children == 'yes'">
            <span class="col-lg-4">{{'Дети'|translate }}:</span>
            <span class="col-lg-8">
                <ul class="list-unstyled">
                    <li class="row" ng-repeat="child in user.profile.children">
                        <span class="col-lg-4">{{child.sex}}</span>
                        <span class="col-lg-8">{{child.birth_date}}</span>
                    </li>
                </ul>
            </span>
        </li>
        <li class="row" ng-show="user.profile.childrenmore">
            <span class="col-lg-4">{{'Планируете ли детей в будущем'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.childrenmore }}</span>
        </li>
        <li class="divider"></li>
        <li class="row" ng-show="user.profile.religion">
            <span class="col-lg-4">{{'Вероисповедание'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.religion }}</span>
        </li>
        <li class="row" ng-show="user.profile.smoke">
            <span class="col-lg-4">{{'Курение'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.smoke }}</span>
        </li>
        <li class="row" ng-show="user.profile.alcohol">
            <span class="col-lg-4">{{'Спиртные напитки'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.alcohol }}</span>
        </li>
        <li class="divider"></li>
        <li class="row" ng-show="user.profile.languages">
            <span class="col-lg-4">{{'Знания иностранных языков'|translate }}:</span>
            <span class="col-lg-8">
                <ul class="list-unstyled">
                    <li class="row">
                        <span class="col-lg-4">{{'Английский'|translate }}: </span>
                        <span class="col-lg-8">{{user.profile.language_en.level}}</span>
                    </li>
                    <li class="row">
                        <span class="col-lg-4">{{'Немецкий'|translate }}: </span>
                        <span class="col-lg-8">{{user.profile.language_ge.level}}</span>
                    </li>
                    <li class="row">
                        <span class="col-lg-4">{{'Французский'|translate }}: </span>
                        <span class="col-lg-8">{{user.profile.language_fr.level}}</span>
                    </li>
                    <li class="row">
                        <span class="col-lg-4">{{'Итальянский'|translate }}: </span>
                        <span class="col-lg-8">{{user.profile.language_it.level}}</span>
                    </li>
                    <li class="row">
                        <span class="col-lg-4">{{'Русский'|translate }}: </span>
                        <span class="col-lg-8">{{user.profile.language_ru.level}}</span>
                    </li>
                </ul>
            </span>
        </li>
        <li class="row" ng-show="user.profile.personality">
            <span class="col-lg-4">{{'Личность'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.personality }}</span>
        </li>
        <li class="row" ng-show="user.profile.hobby">
            <span class="col-lg-4">{{'Хобби, интересы'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.hobby }}</span>
        </li>
        <li class="row" ng-show="user.profile.character">
            <span class="col-lg-4">{{'Основные черты Вашего характера'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.character }}</span>
        </li>
        <li class="divider"></li>
        <li class="row" ng-show="user.profile.partner">
            <span class="col-lg-4">{{'Описание Вашего идеально партнера (рост, вес, возраст,
            религия, черты характера и т.д.)'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.partner }}</span>
        </li>
        <li class="row" ng-show="user.profile.relations">
            <span class="col-lg-4">{{'Какими Вы представляете идеальные взаимоотношения'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.relations }}</span>
        </li>
        <li class="divider"></li>
        <li class="row" ng-show="user.profile.music">
            <span class="col-lg-4">{{'Какую музыку вы предпочитаете слушать'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.music }}</span>
        </li>
        <li class="row" ng-show="user.profile.film">
            <span class="col-lg-4">{{'Какие фильмы Вам нравится смотреть?'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.film }}</span>
        </li>
        <li class="row" ng-show="user.profile.sport">
            <span class="col-lg-4">{{'Любимые виды спорта'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.sport }}</span>
        </li>
        <li class="row" ng-show="user.profile.yousport">
            <span class="col-lg-4">{{'Каким спортом Вы занимаетесь?'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.yousport }}</span>
        </li>
        <li class="row" ng-show="user.profile.food">
            <span class="col-lg-4">{{'Любимая еда'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.food }}</span>
        </li>
        <li class="row" ng-show="user.profile.season">
            <span class="col-lg-4">{{'Любимая пора года'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.season }}</span>
        </li>
        <li class="row" ng-show="user.profile.flowers">
            <span class="col-lg-4">{{'Любимые цветы'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.flowers }}</span>
        </li>
        <li class="row" ng-show="user.profile.color">
            <span class="col-lg-4">{{'Любимый цвет'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.color }}</span>
        </li>
        <li class="divider"></li>
        <li class="row" ng-show="user.profile.dtel">
            <span class="col-lg-4">{{'Домашний телефон'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.dtel }}</span>
        </li>
        <li class="row" ng-show="user.profile.mtel">
            <span class="col-lg-4">{{'Мобильный телефон'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.mtel.first }} {{ user.profile.mtel.second }} {{ user.profile.mtel.third }}, <br />{{ user.profile.mtel1.first }} {{ user.profile.mtel1.second }} {{ user.profile.mtel1.third }}</span>
        </li>
        <li class="row" ng-show="user.profile.email">
            <span class="col-lg-4">{{'E-mail'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.email }}</span>
        </li>
        <li class="row" ng-show="user.profile.address">
            <span class="col-lg-4">{{'Домашний адрес'|translate }}:</span>
            <span class="col-lg-8">{{user.profile.address.index}}, {{user.profile.address.country}}, {{user.profile.address.city}}, {{user.profile.address.home}}, {{user.profile.address.address}}</span>
        </li>
        <li class="divider"></li>
        <li class="row" ng-show="user.profile.myinteresting">
            <span class="col-lg-4">{{'В свободное время я люблю'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.myinteresting }}</span>
        </li>
        <li class="row" ng-show="user.profile.mydream">
            <span class="col-lg-4">{{'В детстве я мечтал стать'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.mydream }}</span>
        </li>
        <li class="row" ng-show="user.profile.mydream10">
            <span class="col-lg-4">{{'На протяжении 10 лет я хотел'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.mydream10 }}</span>
        </li>
        <li class="row" ng-show="user.profile.letter">
            <span class="col-lg-4">{{'Первое письмо, которое будет отправляться от Вашего имени
            мужчине'|translate }}:</span>
            <span class="col-lg-8">{{ user.profile.letter }}</span>
        </li>
    </ul>
</div>